/*Encabezado de la página que incluye ícono y título*/

#banner {
    text-align: center;
}

#row-1 .container-fluid #DMKHeader{
    background-color: #186cf7;
    display: flex;
    justify-content: space-between;
}

#DMKHeader h2 {
    color: white;
    margin-top: 25px;
    margin-right: 15px;
}

/*Barra de navegación*/

#DMKNav {
    background-color: #f3f3f3;
}

#DMKNav .container-fluid .navbar-brand {
    color: #186cf7;
}


/*Carousel*/

.carousel-caption h5 {
    font-size: 35px;
    font-weight: bold;
}

/*Titulos*/

#titulo {
    margin: 20px;
    text-align: center;
}

#titulo p {
    color: #186cf7;
}

#titulo h1 {
    font-weight: bold;
    margin-bottom: 0px;
}

/*PRODUCTOS*/

#cartas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
}

.card {
    width: 18rem;
}

#cartas .card {
    margin: 40px;
}

/*Cajas de Servicios*/

#contenedor-cajas {
    display: flex;
    margin: 0px auto;
    width: 70%;
    flex-flow: wrap;
    justify-content: center;
}

#contenedor-cajas .caja {
    display: block;
    width: 30%;
    height: 320px;
    box-shadow: 1px 6px 6px 6px rgb(230, 230, 230);
    padding: 50px;
    flex: 0 0 320px;
    margin: 15px;
}

#contenedor-cajas .caja div,
#contenedor-cajas .caja h5, 
#contenedor-cajas .caja p {
    text-align: center;
}



/*Contáctanos*/

.contacto {
    background-color: #f8f8f8;
    padding: 50px;
    text-align: center;
  }
  
  .contacto h2 {
    font-size: 36px;
    margin-bottom: 30px;
  }
  
  .contacto form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  .contacto label {
    display: block;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .contacto input,
  .contacto textarea {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  .contacto button[type="submit"] {
    background-color: #1ab5fc;
    color: #fff;
    padding: 10px 20px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .contacto button[type="submit"]:hover {
    background-color: #ffad33;
  }

  /* Estilo para el elemento select */
select {
    font-size: 16px;
    padding: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-repeat: no-repeat;
    background-position: right 8px center;
  }
  
  /* Estilo para las opciones del elemento select */
  select option {
    font-size: 16px;
    padding: 8px;
    background-color: #fff;
    color: #333;
  }
  
  /* Estilo para la opción seleccionada del elemento select */
  select option:checked {
    background-color: #186cf7;
    color: #fff;
  }

/*Carrito*/


#lista-carrito thead tr th{
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

#vaciar-carrito {
    display: flex;
    padding: 10px;
    margin-top: 30px;
    background-color: crimson;
    text-align: center;
    border-radius: 10px;
    color: white;
    text-decoration: none;
    justify-content: center;
}

/*Footer*/

.contenido-footer {
    width: 100%;
    margin-top: 40px;
    background-color: #212429;   
}

.contenedor-elementos {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.caja-footer p,
.caja-footer .mb-1,
.caja-footer .mb-4,
.caja-footer .horario {
    color: white;
}

.contenedor-elementos .caja-lista a {
    display: block;
    color: #ccc;
}

/*Media Queries*/


@media (max-width: 992px) {
    #row-1 .container-fluid #DMKHeader img{
        display: none;
    }
    #row-1 .container-fluid #DMKHeader{
        display: flex;
        justify-content: start;
    }
    #DMKHeader h2 {
        margin-bottom: 25px;
    }
    #banner img {
        width: 100%;
    }

    #cartas {
        width: 80%;
        grid-template-columns: 1fr;
        justify-content: center;
        align-items: center;
    }

    .card {
        width: 100%;
        align-items: center;
    }
    
    .card p,
    .card h5 {
        text-align: center;
    }
}

@media (max-width: 1500px) {
    #contenedor-cajas {
        width: 90%;
    }
}

@media (max-width: 345px) {
    .carousel-caption h5 {
        font-size: 25px;
        font-weight: bold;
    }
    #contenedor-cajas .caja {
        flex: 0 0 250px;
        height: 350px;
    }
}

@media (max-width: 860px) {
    .contenedor-elementos {
        display: block;
    }

    .contenedor-elementos .caja-footer {
        margin-bottom: 60px;
    }
}